<div class="menu">
  <a href="#" class="icon-main"></a>
  <a href="#" class="icon-skills"></a>
  <a href="#" class="icon-projects"></a>
  <a href="#" class="icon-contact"></a>
  <div class="divider"></div>
  <a href="https://www.linkedin.com/in/mateus-falc%C3%A3o27/" class="icon-linkedin"></a>
  <a href="https://github.com/M4Falcao" class="icon-github"></a>
  <a href="https://mateusfal.itch.io/" class="icon-youtube"></a>
</div>




<section class="main">
  <div class="content">
    <div class="leftside">
      <h1>
        Olá, <br/> 
        eu sou o <span>M</span>ateus, <br/>
        desenvolvedor .NET
      </h1>
      <button class="btn-contact"> Entrar em contato</button>
    </div>
    <div class="img">

    </div>
  </div>
</section>

<section class="skills"></section>

<section class="projects"></section>

<section class="contact"></section>